langchain
python-dotenv
langchain_community
langchain_core
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain_text_splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langchain-openai
beautifulsoup4
streamlit
openai
langchain_groq
langserve
fastapi
uvicorn
sse_starlette
langchain-ollama
duckduckgo-search
google-search-results
validators
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
datasets
cassio
pypdf
gradio